body, 
html {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', system-ui,-apple-system, BlinkMacSystemFont,Arial, sans-serif; 
}



#align-container {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
}


#container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 5px;
    background-color: black;
}

#results {
    position: relative;
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    justify-content: center;
    margin-top: 50px;
}


.place-tile {
    width: 100px;
    height: 100px;
    background-color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 90px;
}

.form-container {
    justify-content: center;
    align-content: center;
}